.school {
  font-size: 125%;
  font-weight: bolder;
}

.course {
  font-style: italic;
  font-weight: bold;
  padding-left: 5%;
}

.date_range {
  font-size: 90%;
  padding-left: 10%;
}

.location {
  font-size: 90%;
  padding-left: 10%;  
}
