table.portfoliotable, th.portfoliotable, td.portfoliotable  {
  border-collapse: collapse;
  border: 2px solid black;
  padding: 15px;
}

th.portfoliotable  {
  padding: 30px;
  text-align: center;
  font-size: 150%;
}

th.portfoliotable, td.portfoliotable  {
  width: 50%;
}

.alphalist {
  list-style-type: lower-alpha;
}

.screenshot {
  display: block;
  margin: auto;
}
