table, th, td {
  border-collapse: collapse;
  border: 2px solid black;
  padding: 15px;
}

th {
  padding: 30px;
  text-align: center;
  font-size: 150%;
}

th, td {
  width: 50%;
}

.alphalist {
  list-style-type: lower-alpha;
}

.screenshot {
  display: block;
  margin: auto;
}
