@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poiret+One';

body {
    margin: 0;
}

#portrait {
  padding-left: 5%;
  padding-bottom: 5%;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  font-family: 'Open Sans Condensed', sans-serif;
}

ul.menu li {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.menu li.active {
    background-color: black;
    color: white;
}

ul.menu li:hover:not(.active) {
    background-color: #555;
    color: white;
    font-size: 150%;

}

.main {
  font-family: 'Poiret One', cursive;
  margin-left:15%;
  padding:1px 16px;
}

td h1 {
  font-size: 200%;
  text-align: right;
}

td h2 {
  font-size: 150%;
  text-align: right;
}

td h3 {
  font-size: 100%;
  text-align: right;
}

.employer {
  font-size: 125%;
  font-weight: bolder;
}

.date_range {
  font-style: italic;
  font-weight: bold;
  padding-left: 5%;
}

.jobtitle {
  font-weight: bold;
  padding-left: 5%;
}

.duties {
  font-size: 90%;
  padding-left: 10%;
  text-indent: -5%;
}

.techs {
  font-size: 90%;
  padding-left: 10%;
  text-indent: -5%;
}

.school {
  font-size: 125%;
  font-weight: bolder;
}

.course {
  font-style: italic;
  font-weight: bold;
  padding-left: 5%;
}

.date_range {
  font-size: 90%;
  padding-left: 10%;
}

.location {
  font-size: 90%;
  padding-left: 10%;
}

.alphalist {
  list-style-type: lower-alpha;
}
